<template>
  <section class="home_main">
    <section class="home_main_top">
      <section class="home_main_top_search">
        <section class="job_selection">
          <section class="search_input">
            <input type="text" placeholder="搜索职位、公司、地点">
            <section class="search_submit">
              <i class="el-icon-search"></i>
            </section>
          </section>
          <section class="suggest_city">
            <ul>
              <li>推荐:</li>
              <li>全国</li>
              <li>北京</li>
              <li>上海</li>
              <li>广州</li>
              <li>深圳</li>
              <li>杭州</li>
              <li>天津</li>
              <li>西安</li>
              <li>苏州</li>
              <li>武汉</li>
              <li>厦门</li>
            </ul>
          </section>
          <section class="if_selection">
            <ul>
              <li>按行业筛选 <img src="../../assets/xiajian.png" alt=""></li>
              <li>按地点筛选 <img src="../../assets/xiajian.png" alt=""></li>
              <li>按企业规模筛选 <img src="../../assets/xiajian.png" alt=""></li>
              <li>按企业性质筛选 <img src="../../assets/xiajian.png" alt=""></li>
            </ul>
          </section>
        </section>
        <section class="create_resume">
          <section class="create_resume_button">
            创建简历
          </section>
        </section>
      </section>
    </section>
      <section class="home_main_container">
        <section class="home_main_content">
          <ul >
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                 </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
            <li>
              <section class="main_box">
                <section class="main_box_left">
                  <section class="main_img">
                    <img src="../../assets/logo.png" alt="">
                  </section>
                  <p>有<span>122</span>个职位正在热招</p>
                </section>
                <section class="main_box_right">
                  <section class="main_box_right_content">
                    链人国际咨询(北京)有限责任公司
                  </section>
                </section>
              </section>
            </li>
          </ul>
          <section class="pagination">
            <div class="block">
              <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage3"
                :page-size="100"
                layout="prev, pager, next, jumper"
                :total="1000"
                background
              >
              </el-pagination>
            </div>
          </section>

        </section>
      </section>
  </section>

</template>

<script>
  export default {
    name: "home-main"
  }
</script>

<style scoped lang="less">
  .home_main{
    .home_main_top{
      width: 100%;
      height:146px;
      background:rgba(239,239,239,1);
      display: flex;
      justify-content: center;
      .home_main_top_search{
        width: 1200px;
        height: 100%;
        padding-left: 72px;
        display: flex;
        flex-direction: row;
        .job_selection{
          width: 750px;
          .search_input{
            position: relative;
            margin-top: 20px;
            input{
              width:746px;
              height:44px;
              background:rgba(250,250,250,1);
              border-radius: 22px;
              outline: none;
              font-size:14px;
              font-family:HiraginoSansGB-W3;
              color:#999999;
              line-height:44px;
              text-indent: 2em;
              border: 1px solid #4978F1;
            }
            .search_submit{
              width:42px;
              height:42px;
              background:rgba(255,255,255,1);
              box-shadow:0px 0px 0px rgba(0,39,167,0.16);
              border-radius: 48%;
              position: absolute;
              top: 1px;
              left: 702px;
              line-height: 42px;
              text-align: center;
              cursor: pointer;
              i{
                font-size: 22px;
                color: #999999;
              }
            }
          }
          .suggest_city{
            ul{
              display: flex;
              flex-direction: row;
              width:750px; height:42px;
              font-size:14px;
              font-family:HiraginoSansGB-W3;
              color:rgba(102,102,102,1);
              line-height:42px;
              border-bottom: 2px solid rgba(213,213,213,1);
              margin-top: 5px;
              padding-left: 20px;
              li{
                margin: 0 15.5px;
                font-size:14px;
                font-family:HiraginoSansGB-W3;
                color:rgba(102,102,102,1);
                cursor: pointer;
              }
            }
          }
          .if_selection{
            height: 40px;
            line-height: 40px;
            ul{
              display: flex;
              flex-direction: row;
              padding-left: 34px;
              li{
                font-size:14px;
                font-family:HiraginoSansGB-W3;
                color:rgba(51,51,51,1);
                margin-right: 105px;
                cursor: pointer;
                img{
                  width: 7px;
                  height: 4px;
                  margin-bottom: 3px;
                }
              }
              li:last-of-type{
                margin-right: 0;
              }
            }
          }
        }
        .create_resume{
          margin-top: 20px;
          margin-left: 45px;
          .create_resume_button{
            cursor: pointer;
            width:262px;
            height:44px;
            background:rgba(73,120,241,1);
            border-radius: 22px;
            line-height: 44px;
            font-size:16px;
            font-family:HiraginoSansGB-W3;
            color:rgba(255,255,255,1);
            text-align: center;
            letter-spacing:10px;

          }
        }
      }

    }
    .home_main_container{
      width: 100%;
      height: 1278px;
      background:rgba(250,250,250,1);
      .home_main_content{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        ul{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          li{
            cursor: pointer;
            margin-top: 30px;
            .main_box{
              width: 380px;
              height: 161px;
              border-radius: 8px;
              box-shadow:0px 0px 0px rgba(0,0,0,0.16);
              display: flex;
              flex-direction: row;
              background: white;
              .main_box_left{
                width: 210px;
                padding-left: 30px;
                padding-top: 40px;
                .main_img{
                  width: 130px;
                  height: 52px;
                  /*margin: 0 auto;*/
                  margin-left: 5px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                p{
                  font-size:14px;
                  font-family:HiraginoSansGB-W3;
                  color:rgba(51,51,51,1);
                  margin-top: 23px;
                  span{
                    color: orange;
                  }
                }
              }
              .main_box_right{
                .main_box_right_content{
                  width: 144px;
                  height: 41px;
                  text-align: center;
                  font-size:16px;
                  font-family:HiraginoSansGB-W6;
                  color:rgba(51,51,51,1);
                  margin-top: 57px;
                  margin-right: 30px;
                }
              }
            }
          }
          li:hover  .main_box{
            border-top: 4px solid #4978F1;
            border-left:1px solid #4978F1;
            border-right:1px solid #4978F1;
            border-bottom:1px solid #4978F1;
            /*border-radius: 22px;*/
            border-radius: 8px;
            box-shadow:5px 2px 0px rgba(0,0,0,0.16);
            box-sizing:border-box;
            -moz-box-sizing:border-box; /* Firefox */
            -webkit-box-sizing:border-box; /* Safari */
            /*height: 166px;*/
            position: relative;
            top: -6px;
          }
        }
        .pagination{
          display: flex;
          justify-content: center;
          margin-top: 46px;
        }

      }
    }
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background: white;
  }
</style>

<script>
  export default {
    methods: {
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      }
    },
    data() {
      return {
        currentPage1: 5,
        currentPage2: 5,
        currentPage3: 5,
        currentPage4: 4
      };
    }
  }
</script>
