<template>
  <div id="app">
    <Header/>
    <router-view/>
  </div>
</template>

<script>
  import Header from './components/component/header'
export default {
  name: 'App',
  components:{
    Header
  }
}
</script>

<style>
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  background-color: white;
}
  a{
    text-decoration: none;
  }
</style>
